<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.weeklyperiodical.mapper.CollectMapper">

    <!--void addNew (Collect collect);-->
    <insert id="addNew" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO collect (
            username, collectlink ,title
        ) VALUES (
                     #{username}, #{collectlink}, #{title}
                 )
    </insert>

    <!--int delectById(String username,String collectlink);-->
    <delete id="delectById">
        delete from collect where username=#{username} and collectlink=#{collectlink}
    </delete>

    <!--int delectByUsername(String username);-->
    <delete id="delectByUsername">
        delete from collect where username=#{username}
    </delete>

    <!--List<CollectVO> listUsername(String username);-->
    <select id="listUsername" resultType="com.example.weeklyperiodical.pojo.vo.CollectVO">
        select * from collect where username=#{username}
    </select>

    <!--List<CollectVO> list();-->
    <select id="list" resultType="com.example.weeklyperiodical.pojo.vo.CollectVO">
        select * from collect
    </select>





</mapper>