<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.weeklyperiodical.mapper.CollectMapper">

    <!--void addNew (Collect collect);-->
    <insert id="addNew" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO collect (
            username, collectlink ,title
        ) VALUES (
                     #{username}, #{collectlink}, #{title}
                 )
    </insert>

</mapper>