<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.weeklyperiodical.mapper.ReadlogMapper">

    <!-- int addReadlog(Readlog readlog); -->
    <insert id="addReadlog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO readlog (
             type, ip, title, link,search,username
        ) VALUES (
                    #{type}, #{ip}, #{title}, #{link}, #{search},#{username}
                 )
    </insert>

</mapper>