<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.weeklyperiodical.mapper.UsersRoleMapper">

    <!--int insertBatch(UsersRole[] usersRoleList);-->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO usersrole (
        usersid, roleid, createtime, endtime
        ) VALUES
        <foreach collection="array" item="usersrole" separator=",">
            (
            #{usersrole.usersid}, #{usersrole.roleid}, #{usersrole.createtime}, #{usersrole.endtime}
            )
        </foreach>
    </insert>

    <!--int deleteById(Long usersid);-->
    <delete id="deleteByAdminId">
        DELETE FROM usersrole WHERE usersid=#{usersid}
    </delete>

</mapper>